:root {
  --primary-color: #f3eae5;
  --text-dark: #2c2724;
  --white: #fff;
  --max-width: 1200px;
  --hover: #f0d4d3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

img {
  display: flex;
  /* width: 100%; */
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav-header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav-header span {
  color: var(--hover);
}

.nav-logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.nav-menu-btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav-links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav-links.open {
  transform: translateY(0);
}

.nav-links a {
  font-weight: 600;
  color: var(--primary-color);
}

.nav-links a:hover {
  color: var(--hover);
}

.nav-links a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--hover);
  transform: scale(0);
  transition: 0.3s linear;
}

.nav-links a:hover::after {
  transform: scale(0.8);
}

.nav-btns {
  display: none;
}

main {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 0;
  position: relative;
  isolation: isolate;
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.container-left {
  padding-inline: 1rem;
  text-align: center;
}

.container-left h1 {
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text-dark);
}

.container-left .btn {
  padding: 1rem 2rem;
  letter-spacing: 2px;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 5rem;
}

.container-left .btn:hover {
  color: var(--text-dark);
  background-color: var(--primary-color);
}

.container-right {
  position: relative;
  isolation: isolate;
  display: grid;
  gap: 2rem;
}

.container-right::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transform-origin: left;
  height: 80%;
  background-color: var(--primary-color);
  border-radius: 1rem;
  z-index: -1;

  animation: show 0.75s 1.25s ease-in-out forwards;
}

@keyframes show {
  0% {
    width: 100%;
  }

  100% {
    width: calc(100% - 2rem);
  }
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-1 {
  max-width: 300px;
  transform: translateX(1rem);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.food-2 {
  max-width: 180px;
  transform: translateX(-1rem);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.content {
  padding-block: 0 5rem;
  padding-inline: 2rem;
  text-align: center;
}

.content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.content h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--text-dark);
}

.content h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.content p {
  line-height: 1.75rem;
  color: var(--text-dark);
}

/* about section */

.about,
.menu {
  padding: 5rem 7% 1.4rem;
}

.about h2,
.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
}
/* about end */

/* menu section start */

.menu h2 {
  margin-bottom: 0;
}
.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 3rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 250px;
}
.menu .menu-card-title {
  margin-top: 1rem auto 0.5rem;
}

/* menu section end */

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav-header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav-logo a {
    color: var(--text-dark);
  }

  .nav-menu-btn {
    display: none;
  }

  .nav-links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav-links a {
    color: var(--text-dark);
  }

  .nav-btns {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav-btns .btn {
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: transparent;
  }

  main {
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding: 2rem 0;
  }

  .container-left {
    text-align: left;
  }

  .location {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: var(--primary-color);
    border: 10px solid var(--white);
    border-bottom: none;
  }

  .location span {
    padding: 5px 10px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 10px;
  }

  .socials {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .socials a {
    font-size: 1.25rem;
    color: var(--text-dark);
  }

  .about .row {
    flex-wrap: wrap;
  }
}

@media (width > 1024px) {
  .container-right {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .container-right::before {
    bottom: unset;
    top: 0;
    height: 90%;
  }

  .images {
    flex-direction: column;
  }

  .food-1 {
    width: calc(100% + 10rem);
    max-width: 325px;
    transform: translate(-2rem 1rem);
  }

  .food-2 {
    max-width: 200px;
    transform: translate(4rem -1rem);
  }

  .content {
    padding-block: 5rem;
    text-align: left;
    max-width: 400px;
    margin-inline-start: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 20rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }
}

/* mobile phone */
@media (max-width: 450px) {
  .menu .row .menu-card img {
    width: 100px;
  }
}
